{
  "extends": [
      "airbnb",
      "plugin:prettier/recommended",
      "prettier/react"
    ],
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "jsx-a11y/label-has-associated-control": 0
  },
  "env": {
      "browser": true,
      "es6": true,
      "node": true
    },
  "settings": {
    "react": "detect"
  }
}
