* {
  box-sizing: border-box;
  color: #e16428;
  font-family: "B612";
}

body {
  background-color: #363333;
}

#root {
  /* Display type */
  display: flex;
  
  /* Layout position */
  align-items: center;
  justify-content: center;

  /* Size specification */
  width: 100%;
  height: 750px;
}

/* Main page styles */
.main-box {
  /* Display type */
  display: flex;
  justify-content: space-around;

  /* Size specification */
  width: 100%;
  height: 100%;
}

.section-box {
  /* Display type */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Size specification */
  width: 450px;
  height: 750px;

  /* Appearance */
  border: 2px solid #f6e9e9;
}

.section-box > * {
  /* Appearance */
  border: 2px solid #f6e9e9;
}

/* Login page styles*/
.login-box {
  /* Display type */
  display: flex;
  flex-direction: column;

  /* Size specification */
  width: 370px;
  height: 250px;

  /* Color */
  background-color: #272121;

  /* Layout position */
  align-items: center;
  justify-content: center;

  /* Appearance */
  border-radius: 6px;
}

.login-form {
  /* Display type */
  display: flex;
  flex-direction: column;

  /* Size specification */
  width: 60%;
  height: 90%;

  /* Layout position */
  align-items: flex-start;
  justify-content: center;
}

.login-form .label {
  /* Size specification */
  width: 100%;

  /* Font */
  font-weight: bold;
}

.login-form .text, .login-form .password {
  /* Spacing specification */
  margin-top: 3px;
  margin-bottom: 15px;

  /* Appearance */
  background-color: #363333;
  color: #f6e9e9;
  border: 0px;
  border-radius: 4px;

  /* Size specification */
  width: 100%;
  height: 30px;
}

.submit {
  /* Layout position */
  align-self: center;

  /* Size specification */
  width: 50%;
  height: 30px;

  /* Spacing specification */
  margin-top: 5px;
  
  /* Appearance */
  border: 0px;
  border-radius: 4px;
  background-color: #f6e9e9;

  /* Font */
  font-weight: bold;
}

.submit:hover {
  background-color: #e16428;
  color: #f6e9e9;
}