* {
  box-sizing: border-box;
  color: #e16428;
  font-family: "B612";
}

body {
  background-color: #363333;
}

#root {
  /* Display type */
  display: flex;
  
  /* Layout position */
  align-items: center;
  justify-content: center;
}

/* Login page styles*/
.login-box {
  /* Display type */
  display: flex;
  flex-direction: column;

  /* Size specification */
  width: 370px;
  height: 250px;

  /* Color */
  background-color: #272121;

  /* Layout position */
  align-items: center;
  justify-content: center;

  /* Appearance */
  border-radius: 6px;
}

.login-form {
  /* Display type */
  display: flex;
  flex-direction: column;

  /* Size specification */
  width: 60%;
  height: 90%;

  /* Layout position */
  align-items: flex-start;
  justify-content: center;
}

.login-form .label {
  /* Size specification */
  width: 100%;

  /* Font */
  font-weight: bold;
}

.login-form .text, .login-form .password {
  /* Spacing specification */
  margin-top: 3px;
  margin-bottom: 15px;

  /* Appearance */
  background-color: #363333;
  color: #da703fbd;
  border: 0px;

  /* Size specification */
  width: 100%;
  height: 30px;
}

.login-form .submit {
  /* Layout position */
  align-self: center;

  /* Size specification */
  width: 50%;
  height: 30px;

  /* Spacing specification */
  margin-top: 5px;
  
  /* Appearance */
  border-radius: 6px;
  background-color: #272121;

  /* Font */
  font-weight: bold;
}